.actividades{
    margin-top: 7%;
    color:white;
    font-family:'BitsumisRegular';
        @include respond-to($phone){
            h1{
                font-size: 2rem!important; 
            }
     
    }
}
.contenedoractividades{
    @include respond-to($phone){
          margin-top:18px;
     
    }
}
#bgIndex{
background: #1c1c1c;

}
.textoIndex{
	color:white;
    font-family:'MontserratRegular';
        padding-bottom: 100px;
        @include respond-to($phone){
      font-size: 1rem;
      text-align:justify!important;
      // margin-top: 20px;
    }

}
.cards{
	padding-top: 30px;
      @include respond-to($phone){
          margin-top: -508px;
     
    }
}
.espaciado{
	margin-top: 10px;
}
  #slideshowactividades{
     @include respond-to($phone){
        margin-top: 72px;
     
    }
  }

   
        

section.range-slider {
	margin-top: 100px;
    position: relative;
    width: 200px;
    height: 5px;
    text-align: center;
     @include respond-to($phone){
          margin-top: 28px;
     
    }

}



section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: -18px;
    top: 15px;
    width: 200px;
    outline: none;
   height: 6px;
    margin: 0;
    padding: 0;
    margin-left: -3px;
      @include respond-to($phone){
          left:37px;
           height: 15px;

     
    }

}

section.range-slider input::-webkit-slider-thumb {
	/*background:green!important;*/
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}
#Activo8{
    display:none;
}


.rangeValues{
	    padding-top: 35px;
    // margin-left: 44px;
    position: absolute;
    /* margin-bottom: 107px; */
    padding-bottom: 46px;
    color: #141414;
      @include respond-to($phone){
          margin-left: 53px;
     
    }
   
}
.cronogramatitulo{
	background:#141414;
	height: 100px;
}
.cronogramabarra{
	background:#E3E3E3;
	height: 500px;
}
.cronogramatitulo h3{
	 font-family:'BitsumisRegular';
	 color: white;
	 margin-top:39px;

     @include respond-to($phone){
           margin-top:31px;
     
    }
}
// .contCrono{
// 	margin-top: 100px;
// }
.bgSlider{
background:white;
    height: 476px;
        @include respond-to($phone){
        
          height: 573px;
     
    }
}
.vacio{
	background: white;
}
.vacio h3{
	margin-top: 39px;
	 font-family:'BitsumisRegular';
	color: #1c1c1c;
      @include respond-to($phone){
           margin-top:7px;
     
    }
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /*width: 100%;  Full-width */
    height: 10px; /* Specified height */
    background:rgba(81,81,81,0.3); /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    /*border-radius: 50%*/
    background:#f76fd7; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
#inputslide1::-webkit-slider-thumb {
    width: 50px; /* Set a specific slider handle width */
    

 

}
#inputslide2::-webkit-slider-thumb {
    width: 0; /* Set a specific slider handle width */
    background:transparent!important;

}
.carousel-indicators li{
	border-radius: 50%;
	height: 8px;
	width: 8px;
	
	margin-top: 10px;
}
.carousel-indicators li:hover{
	background: white;
}

.carousel-indicators .active{
	background: white;
}
.carousel-control-next, .carousel-control-prev{
	color:white!important;
}

.fond{
	height: 50px;
	    background: #E3E3E3;
}