body {
    font-size: 16px;
    background: #1c1c1c;
}

.videoHeader {
    width: 100%;
    height: 100%;
}

.textHeader {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: -38%;
    // margin-left: 37%;
    h1 {
        text-align: center;
        font-family: 'BitsumisRegular' ;
        color: #fff;
        font-size: 4rem;

        @include respond-to($phone){
            font-size: 2rem;
            margin-top: 30px;
        }
    }

    .btn-header {
        display: block;
        margin: 0 auto;
        border-radius: 10px !important;
        background: #57ead1;
        border: none;
        // margin-left: 16%;
        margin: auto;
    }    
}

.btn-header:hover {
    color: #57ead1;
    background: #fff;
}

.navbar {
    transition-property: all;
    transition-duration: 0.5s;
    background: transparent !important;
    margin-top: 0;
    font-family: 'montserratregular';
}

.navbar-dark .navbar-nav .nav-link {
    color: $color-white-gray;
    padding-bottom: 81px;
    color: $color-white;
   

    // forma de incluir el media, el parametro se coloca en relacion a las variables existentes en el _media-queries.scss 
    @include respond-to($tablet-portrait){
        padding-bottom: 0px;
    }
    @include respond-to($tablet-landscape ){
        padding-bottom: 0px;
    }
    @include respond-to($phone){
        padding-bottom: 0px;
	}    
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $color-white;
}

.dropdown-menu {
    background: transparent !important;
    border: none;
    color: white !important;
    margin-top: -80px;
    margin-left: -184px;
}

.dropdown-item {
    color: white;
    margin-left: -15px;
}

.dropdown-item:hover {
    color: #57ead1;
    background: transparent;
}

//logo
.favIcon img {
    width: 80px;
    height: auto;
    margin-left: 25px;
    @include respond-to($phone){
        width: 50px;
        height: auto;
        margin-left: 0px;
    }
}

.nav-rock{
    
    @include respond-to($phone){
        padding-left: 10px;
        opacity: 0.5;
        background: #333;
        margin-bottom: 20px;
    }

}
