// body {
//     font-size: 16px;
//     background: #1c1c1c;
// }

// footer{
//   background-color: #2b2b2b;
//   width: 100%;
//   height: 120px;
// }

// .videoHeader {
//     width: 100%;
//     height: 100%;
// }

// .textHeader {
//   width: 100%;
//   height: 50px;
//   position: relative;
//   margin-top: -38%;
//   // margin-left: 37%;
//   h1 {
//     text-align: center;
//     font-family: 'BitsumisRegular' ;
//     color: #fff;
//     font-size: 4rem;
//     @include respond-to($phone){
//       font-size: 2rem;
//       margin-top: 30px;
//     }
//   }
//   .btn-header {
//     display: block;
//     margin: 0 auto;
//     border-radius: 10px !important;
//     background: #57ead1;
//     border: none;
//     // margin-left: 16%;
//     margin: auto;
//   }
// }

// .btn-header:hover {
//   color: #57ead1;
//   background: #fff;
// }

// .navbar {
//   transition-property: all;
//   transition-duration: 0.5s;
//   background: transparent !important;
//   margin-top: 0;
//   font-family: 'montserratregular';
// }

// .navbar-dark .navbar-nav .nav-link {
//   color: $color-white-gray;
//   padding-bottom: 81px;
//   color: $color-white;
//   // forma de incluir el media, el parametro se coloca en relacion a las variables existentes en el _media-queries.scss
//   @include respond-to($tablet-portrait){
//     padding-bottom: 0px;
//   }
//   @include respond-to($tablet-landscape ){
//     padding-bottom: 0px;
//   }
//   @include respond-to($phone){
//     padding-bottom: 0px;
// 	}
// }

// .navbar-dark .navbar-nav .nav-link:hover {
//   color: $color-white;
// }

// .dropdown-menu {
//   background: transparent !important;
//   border: none;
//   color: white !important;
//   margin-top: -80px;
//   margin-left: -184px;
// }

// .dropdown-item {
//   color: white;
//   margin-left: -15px;
// }

// .dropdown-item:hover {
//   color: #57ead1;
//   background: transparent;
// }

// //logo
// .favIcon img {
//   width: 80px;
//   height: auto;
//   margin-left: 25px;
//   @include respond-to($phone){
//     width: 50px;
//     height: auto;
//     margin-left: 0px;
//   }
// }

// .nav-rock{
//   @include respond-to($phone){
//     padding-left: 10px;
//     opacity: 0.5;
//     background: #333;
//     margin-bottom: 20px;
//   }
// }

// /*Estilo para el footer*/
// .vFooter{
//     line-height: 60px;
//     /*Estilo del h3 dentro del footer*/
//     h3{
//       margin-top: 22px;
//       margin-left: 1%;
//       font-size: 1rem;
//       float: left;
//       color: $color-white;
//     }
// }/*Fin del vFooter*/
// .container{
//   width: auto;
//   padding: 0 15px;
// }
// /*Estilo de las imagenes dentro del footer*/
// .img-footer{
//   width: 100px;
//   height: 27px;
//   margin-top: 1.8%;
//   margin-left: 14%;
//   background: url(../images/footerSocial.png) no-repeat;
//   background-size: 100%;
//   position: absolute;
//   float: left;
// }

// /*Estilo del pseudo menu dentro del footer*/
// .menu-foot{
//   width: 21%;
//   height: 30%;
//   margin-top:  32px;
//   margin-left: 79%;
//   /*Estilo del ul, li, a dentro del pseudo menu*/
//   ul li a{
//     font-size: 0.9rem;
//     font-family: 'montserratregular';
//     text-decoration: none;
//     text-transform: uppercase;
//     color: $color-white;
//   }
//   ul li:not(:first-child):before{
//     content: ' |';
//     padding: 0% 5% 5% 5%;
//     color: $color-white;
//     font-size: 1rem;
//   }
//   /*Estilo para los hover de los a dentro del pseudo menu*/
//   a:hover{
//     color:#ed4abf;
//     transition: all .5s;
//   }
//   /*Estilo de la lista dentro del pseudo menu*/
//   .list{
//     margin-top: 10px;
//     ul{
//       li{
//         display: inline;
//       }
//     }
//   }/*fin list*/
// }/*fin menuFoot*/





// ESTILOS DEL MENU A PRUEBA

.logo{
  width: 80px;
  height: auto;
  @include respond-to($phone){
    width: 50px;
    height: auto;
  }
}


nav{
  background: transparent !important;
 
}
.navbar-toggler{
  z-index:100 !important;
}
.navbar-brand{
  z-index:100 !important;  
}

@media (min-width: 0px) and (max-width: 576px) {
  .navbar-collapse {background: rgba(0,0,0,0.5) !important;
        z-index:99 ;
        
  }
}
.efectoBluirVideo{
  filter:blur(12px); 
  transition: all 0.1s ease;
}


/* @media (min-width: 576px) and (max-width: 991px) {
  body{background: green !important;
} */

@media (max-width: 768px) {
  .navbar-collapse {
      position: absolute;
      top: 0px;
      left: 1%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 100%;/*IMPRORTANT*/
      width: 100%;
      transition: all 0.1s ease;
      z-index: 1;
  }
  .navbar-collapse.collapsing {
      height: auto !important;
      transition: all 0.1s ease;
      left: 100%;
  }
  .navbar-collapse.show {
      left: 0;
  }
  .navbar-nav{
        margin-top: 100px;
  }

}