$color-white: #ffffff;
$color-gray-light: #f5f5f5;
$color-black: #000000;
$color-dark: #333333;
$color-gray:#ccc;
$color-cian:#64ffda;
$color-rose:rgba(247, 111, 215, 0.9);


// 10px = 0.625rem
// 12px = 0.75rem
// 14px = 0.875rem
// 16px = 1rem (base)
// 18px = 1.125rem
// 20px = 1.25rem
// 24px = 1.5rem
// 30px = 1.875rem
// 32px = 2rem
// 

a{
    // font-size: 0.75rem;
    font-family: 'MontserratRegular';
}

p{
    // font-size: 0.75rem;
    font-family: 'MontserratRegular';
}


h1,h5{
    // font-size: 2rem;
    font-family: 'BitsumisRegular';
}

h2{
    // font-size: 1.875rem;
     font-family: 'MontserratRegular';
}

// h3{
//     font-size: 1.5rem;
// }

// h4{
//     font-size: 1.25rem;
// }

// h5{
//     font-size: 1.125rem;
// }

// h6{
//     font-size: 1rem ;
// }

// $phonesmall: '(min-width: 0px) and (max-width: 320px)';
// $phone : '(min-width: 321px) and (max-width: 360px)';
// $phonelarge: '(min-width: 361px) and (max-width: 411px)';
// $tablet-portrait: '(max-width: 767px)';
// $tablet-landscape: '(min-width: 768px) and (max-width: 960px)';
// $tablet-large: '(min-device-width: 1024px) and (max-device-height: 1366px)';
// $large-desktop: '(min-width: 1140px)';

//ejemplo...
// .logo {
//   width: 50px;
//   height: auto;
//   @include respond-to($large-desktop) {
//     width: 60px;
//     height: auto;
//   }
// }


.box{
    width:300px;
    height:300px;
    background:pink;
}

.padding-box{
	padding: 2rem 2rem;
	 @include respond-to($large-desktop) {
     	padding:4rem  2rem ;
	 }
}

.margen{
	margin:auto;
}

// .contenedorImg:hover .imagen {-webkit-transform:scale(1.1);transform:scale(1.1);}
// .contenedorImg {overflow:hidden;}

// * {
//   -webkit-transition: all 1s ease-in-out;
//   -moz-transition: all 1s ease-in-out;
//   -o-transition: all 1s ease-in-out;
//   transition: all 1s ease-in-out;
// }



