/*Estilo para el col-4 de esta pagina*/
.newCol4{
  max-width: 25% !important;
  margin-bottom: 5%!important;
}

/*Estilo para el col-6 de esta pagina*/
.newCol6{
  margin-bottom: 5%!important;
}

h3{
  @include respond-to($phone){
    font-size: 1rem;
    margin-left: -2px!important;
  }
  @include respond-to($tablet-portrait){
    margin-left: -2px!important;
    font-size: 1.2rem;
  }
}

/*Estilo para el margin y responsive del h3 de esta pagina*/
.newMarginH3{
  margin-left: -2px!important;
}

/*Estilo del responsive para el col de esta pagina*/
.newCol{
  @include respond-to($phone){
    max-width: 50% !important;
  }
}

/*Estilo para el col-4 de esta pagina*/
p{
  @include respond-to($phone){
    font-size: 0.5rem;
  }
}

.responsiveH3{
  @include respond-to($phone){
    font-size: 1rem;
    margin-left: 1px;
  }
  @include respond-to($tablet-portrait){
    font-size: 1.2rem;
    margin-left: 1px;
  }
  @include respond-to($tablet-landscape){
    font-size: 1rem;
    margin-left: 1px;
  }
}

.newWidthSlide{
  width: 100%!important;
}

.confTitulo{
  font-weight: bold;
  margin-left: 13px;
  @include respond-to($phone){
    font-size: 1rem;
  }
}

.video-container{
  width: 90%;
  margin-top: 45%;
  margin-left: 5%;
}

.video-responsive {
  position: relative;
  margin-bottom: 20px;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}/*fin video-responsive*/
