


@import 'fonts';
@import'media-queries';
@import 'variables';
@import 'main';
@import 'torneos';
@import 'conferen_capac';
@import 'videos';/**/

//@include font-face('nombreAsignado', 'Nombre del archivo', 'nombre de la carpeta', 'si no encuentra, por defecto serif' );
@include font-face('BitsumisRegular', 'bitsumis-webfont', 'Bitsumis', 'serif' );
@include font-face('MontserratRegular', 'montserrat-regular-webfont', 'Montserrat', 'serif' );


////////////////////////////// Responsive //////////////////////////////////////////////////////////////////
// nombre de la clase o id contenedor
.webCard{
// forma de incluir el media, el parametro se coloca en relacion a las variables existentes en el _media-queries.scss
	@include respond-to($phone){
		margin-top:35px;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////



// .top-nav{
//     padding-top: 0px;
// }
// .bg-green{
//     background: green;
// }

// .bg-red{
//     background: red;
// }

// .bg-blue{
//     background: blue;
// }







// // ESTILOS DEL MENU A PRUEBA
// .logo {
//   width: 50px;
//   height: auto;
//   @include respond-to($large-desktop) {
//     width: 60px;
//     height: auto;
//   }
// }

// nav {
//   background: transparent !important;
// }

// .navbar-toggler {
//   z-index: 100 !important;
// }

// .navbar-brand {
//   z-index: 100 !important;
// }

// @media (min-width: 0px) and (max-width: 576px) {
//   .navbar-collapse {
//     background: rgba(0, 0, 0, 0.5) !important;
//     z-index: 99;
//   }
// }

// .efectoBluirVideo {
//   filter: blur(12px);
//   transition: all 0.1s ease;
// }

// /* @media (min-width: 576px) and (max-width: 991px) {
//   body{background: green !important;
// } */

// @media (max-width: 768px) {
//   .navbar-collapse {
//     position: absolute;
//     top: 0px;
//     left: 1%;
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-bottom: 100%;
//     /*IMPRORTANT*/
//     width: 100%;
//     transition: all 0.1s ease;
//     z-index: 1;
//   }
//   .navbar-collapse.collapsing {
//     height: auto !important;
//     transition: all 0.1s ease;
//     left: 100%;
//   }
//   .navbar-collapse.show {
//     left: 0;
//   }
//   .navbar-nav {
//     margin-top: 100px;
//   }
// }

// // /*Estilo para el footer*/
// .vFooter {
//   line-height: 60px;
//   /*Estilo del h3 dentro del footer*/
//   h3 {
//     margin-top: 22px;
//     margin-left: 1%;
//     font-size: 1rem;
//     float: left;
//     color: $color-white;
//   }
// }

// /*Fin del vFooter*/

// // .container{
// // width: auto;
// // padding: 0 15px;
// // }


// // /*Estilo de las imagenes dentro del footer*/
// .img-footer {
//   width: 100px;
//   height: 27px;
//   margin-top: 1.8%;
//   margin-left: 14%;
//   background: url(../images/footerSocial.png) no-repeat;
//   background-size: 100%;
//   position: absolute;
//   float: left;
// }

// // /*Estilo del pseudo menu dentro del footer*/
// .menu-foot {
//   width: 21%;
//   height: 30%;
//   margin-top: 32px;
//   margin-left: 79%;
//   /*Estilo del ul, li, a dentro del pseudo menu*/
//   ul li a {
//     font-size: 0.9rem;
//     font-family: 'montserratregular';
//     text-decoration: none;
//     text-transform: uppercase;
//     color: $color-white;
//   }
//   ul li:not(:first-child):before {
//     content: ' |';
//     padding: 0% 5% 5% 5%;
//     color: $color-white;
//     font-size: 1rem;
//   }
//   /*Estilo para los hover de los a dentro del pseudo menu*/
//   a:hover {
//     color: #ed4abf;
//     transition: all .5s;
//   }
//   /*Estilo de la lista dentro del pseudo menu*/
//   .list {
//     margin-top: 10px;
//     ul {
//       li {
//         display: inline;
//       }
//     }
//   }
//   /*fin list*/
// }

// /*fin menuFoot