@import 'fonts';
@import'media-queries';
@import 'tema';
@import 'main';
@import 'torneos';
@import 'conferen_capac';
@import 'videos';/**/
@import 'index';

//@include font-face('nombreAsignado', 'Nombre del archivo', 'nombre de la carpeta', 'si no encuentra, por defecto serif' );
@include font-face('BitsumisRegular', 'bitsumis-webfont', 'Bitsumis', 'serif' );
@include font-face('MontserratRegular', 'montserrat-regular-webfont', 'Montserrat', 'serif' );

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {outline-width: 0;    font-family: 'Roboto';}

// CLASES MAESTRAS QUE AFECTAN A TODAS!!!

// nombre de la clase o id contenedor
.webCard{
// forma de incluir el media, el parametro se coloca en relacion a las variables existentes en el _media-queries.scss
	@include respond-to($phone){
		margin-top:35px;
	}
}

body {
    font-size: 16px;
    background: #76ff03;//COLOR VERDE PARA VER HASTA DONDE SE VE TODO EL BOODY
}

header{
  width: 100%;
  height: 100%;
}

.margin-padding-0{
  margin-left: 0px;
  margin-right: 0px;
  padding-lef: 0px;
  padding-right: 0px;
}

.margin-padding-20{
  margin-left: 20px;
  margin-right: 20px;
  padding-lef: 20px;
  padding-right: 20px;
}

.top-nav{
    padding-top: 0px;
}
.bg-green{
    background: green;
}

.bg-red{
    background: red;
}

.bg-blue{
    background: blue;
}


.nav-colored{
  background:red;
}
.nav-transparent{
  background: green;
}

// imagen del header 
header{
  .imgHeader {
    margin:0;
    padding:0;
    img{
    width:100%;
    height:160px;
    @include respond-to($large-desktop){
      width:100%;
      height:auto;
      }
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////

